<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKK-SYdkUINIBQ9AOjI9RI7oHsfoAmEAM&v=3&callback=initMap" type="text/javascript"></script> -->
    <title>Users Management</title>
  </head>
  <body>
      {{template "content" .}}
  </body>
</html>
