{{ define "content" }}
<form class="form-signin" id="changePassword">
    <div class="row">
        <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
        
    </div>
    <div class="row">
        <p>
            Enter your new password
        </p>
    </div>
    <div class="row">
        <label for="inputEmail" class="sr-only">Password</label>

        <input type="hidden" name="token" value="{{ .Token }}" />

        <input type="password" id="inputEmail" name="password" class="form-control" placeholder="Password" required autofocus>

        <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>

        <input type="password" id="inputConfirmPassword" name="confirmPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Recover</button>
        <div class="row or-container">
            <div class="line-separator"></div>
            <div class="or-label">or</div>
            <div class="line-separator"></div>
          </div>
        <div class="row">
            <a class="btn btn-lg btn-secondary btn-block" href="/" role="button">Sign in</a>
        </div>
    </div>
</form>
    
<script>
    document.addEventListener("DOMContentLoaded", function() {
        window.changePassword();
    });
</script>


{{ end }}