{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col-md-2 mb-2 offset-md-6">
            <button class="btn btn-danger btn-lg btn-block" id="logout-button">Logout</button>
        </div>
    </div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Edit Profile</h4>
        <form id="editProfileForm">
 
        <div class="row mb-3">
            <div class="col-md-12">            
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Your name" required value="{{ .Name }}">           
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-8"> 
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required value="{{ .Email }}">           
            </div>
            <div class="col-md-4">
                <label for="Telephone">Telephone <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="telehpone" name="telephone" placeholder="Telephone" value="{{ .Telephone }}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">  
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" value="{{ .Address }}" autocomplete="false">
            </div>        
        </div> 

        <div class="row mb-3">
            <div class="col-md-12">  
                <div id="map-edit-form" class="map"></div>
            </div>
        </div> 

        <hr class="mb-4">
        <div class="row">
            <div class="col-md-5 mb-5">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
            </div>
            <div class="col-md-5 mb-5">
                <a class="btn btn-secondary btn-lg btn-block" href="/profile" role="button">Cancel</a>
            </div>
        </div>
        </form>        
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      window.editProfile();
    });
  </script>
{{ end }}