{{define "content"}}
  <form class="form-signin" id="signinForm" enctype="application/x-www-form-urlencoded" method="POST">
    <div class="row">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <label for="inputEmail" class="sr-only">Email address</label>

      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>

      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

      <a class="btn btn-lg btn-lg btn-signup btn-block btn-outline" href="{{ .GoogleLoginURL }}" >
          <img src="https://img.icons8.com/color/16/000000/google-logo.png" />
          Signin with Google
      </a>
    </div>

    <div class="row or-container">
      <div class="line-separator"></div>
      <div class="or-label">or</div>
      <div class="line-separator"></div>
    </div>
    <div class="row">
      <a class="btn btn-lg btn-signup btn-block" href="/signup" role="button">Sign up</a>
    </div>
    <div class="row or-container">
      <div class="line-separator"></div>
      <div class="or-label">or</div>
      <div class="line-separator"></div>
    </div>
    <div class="row">
      <a class="btn btn-lg btn-danger btn-block" href="/recover" role="button">Recover Password</a>
    </div>
    
  </form>  
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.signin();
  });
</script>
{{ end }}