{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-md-2 mb-2 offset-md-6">
            <button class="btn btn-danger btn-lg btn-block" id="logout-button">Logout</button>
        </div>
    </div>
    <div class="col-md-8 order-md-1">      

        <h4 class="mb-3">View Profile</h4>
        <div class="mb-3">
            <h5>
                Name
            </h5>
        </div>
            <div class="mb-3">
            <span id="name"> {{ .Name }}</span>
        </div>
        <div class="mb-3">
            <h5>
                Email
            </h5>
        </div>
        <div class="mb-3">
            <span id="email"> {{ .Email }} </span>
        </div>
        <div class="mb-3">
            <h5>
                Telephone
            </h5>
        </div>
        <div class="mb-3">
            <span id="telephone"> {{ .Telephone }}</span>
        </div>
        <div class="mb-3">
            <h5>
                Address
            </h5>
        </div>
        <div class="mb-3">
            <span id="address">{{ .Address }}</span>
        </div>

        <div class="mb-3">
            <div id="map" class="map"></div>
        </div>    

        <div class="mb-3">
            <div class="col-md-5 mb-5">
                <a class="btn btn-primary btn-lg btn-block" href="/edit" role="button">Edit Profile</a>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      window.profile();
    });
  </script>
{{ end }} 