{{ define "content" }}
<form class="form-signin" id="recoverForm">
    <div class="row">
        <h1 class="h3 mb-3 font-weight-normal">Recover Password</h1>
        
    </div>
    <div class="row">
        <p>
            Tell us your email
        </p>
    </div>
    <div class="row">
        
        <label for="inputEmail" class="sr-only">Email</label>

        <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Recover</button>
    </div>
    <div class="row or-container">
        <div class="line-separator"></div>
        <div class="or-label">or</div>
        <div class="line-separator"></div>
    </div>
    <div class="row">
        <a class="btn btn-lg btn-secondary btn-block" href="/" role="button">Sign in</a>
    </div>
</form>
    
<script>
    document.addEventListener("DOMContentLoaded", function() {
        window.recover();
    });
</script>
{{ end }}