{{ define "content"}}
   
<form class="form-signin" id="signupForm" action="/signup" enctype="application/x-www-form-urlencoded" method="POST">
    <div class="row">
        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    </div>
    <div class="row">
        <label for="inputEmail" class="sr-only">Email address</label>

        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>

        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

        <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>

        <input type="password" id="inputConfirmPassword" name="confirmPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </div>
    <div class="row or-container">
        <div class="line-separator"></div>
        <div class="or-label">or</div>
        <div class="line-separator"></div>
    </div>
    <div class="row">
        <a class="btn btn-lg btn-secondary btn-block" href="/" role="button">Sign in</a>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      window.signup();
    });
  </script>
{{ end }}